@model PaginatedList<Raspertise.Models.Advertisement>

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-light">Advertisements</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-dark table-striped-2 table-responsive">
    <thead>
    <tr>
        <th>
            @* @Html.DisplayNameFor(model => model.Message) *@
            Message
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model[0].Color) *@
            Color
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.Speed) *@
            Speed
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">
                @* @Html.DisplayNameFor(model => model.DateStart)     *@
                Start&nbsp;Date
            </a>

        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.DateStop) *@
            Stop&nbsp;Date
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.TotalCost) *@
            Total&nbsp;Cost
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.Location) *@
            Location
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.Sponsor) *@
            Sponsor
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                <nobr>
                    @Html.DisplayFor(modelItem => item.Color)
                </nobr>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speed)
            </td>
            <td>
                <nobr>
                    @Html.DisplayFor(modelItem => item.DateStart)
                </nobr>
            </td>
            <td>
                <nobr>
                    @Html.DisplayFor(modelItem => item.DateStop)
                </nobr>
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.AdvertiserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sponsor.Id)
            </td>
        </tr>
        <tr>
            <td colspan="8">
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default text-light @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default text-light @nextDisabled">
    Next
</a>